main{

    margin-left: 25pt;
    margin-right: 25pt;

}
body{
    background-color: #fbefce;
    border: 2pt solid rgb(0, 0, 0) ;
}
#box{
    border: 2pt solid rgb(0, 0, 0);
    padding-left: 10pt;
    padding-right: 10pt;
    margin-top: 18pt;
    background-color: #262e4d;

}

#header{
    color: rgb(255, 255, 255);
    text-align: center;

}
.big_box{
    margin-top: 30pt;
    margin : 20pt;
    border: 0.99pt solid ;
    text-align: center;
    background-color: rgb(242, 243, 234);
}
.boxx{
    width: 300;
    background-color: rgb(242, 243, 234);
}
.img{
    margin-top: 28pt;
    border-radius: 800pt;

}
.facts{
    text-align: center;
    margin-left: 15pt;
    margin-right: 15pt;
   background-color:  rgb(242, 243, 234);
}
.how_to{
    margin-bottom: 15pt;
}
.recepy{


     background-color: rgb(242, 243, 234);
}
#about,
#shkembe_about
{
    display:none;
    margin-left: 10pt;
    margin-right: 10pt;
}
#recepy_text,
#shkembe_recepy{
    display:none;
    margin-left: 10pt;
    margin-right: 10pt;
    list-style: none;
}
.show_btn{
    background-color: #16295a;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px;
}